@charset "utf-8";
@import url('reset.css');
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

.global-content {
  width: 70%;
  font-family: sans-serif, Arial, '맑은 고딕';
  margin: 0 auto;
}

.allday-parking-icon {
  width: 35px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-indent: -20000px;
}

.allday-txt,
.parking-txt {
  text-align: center;
  width: 35%;
}

.header_top_wrap {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8);
  background-color: #fff;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Jeju Gothic', sans-serif;
}

.header_logo_home_evt {
  width: 220px;
  height: 37px;
  text-align: center;
  margin-left: 40px;
}

.header_util_wrap {
  margin-top: 20px;
  margin-right: 40px;
  display: flex;
}

.header_util_evt {
  width: 100px;
  height: 37px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.header_util_evt>a {
  line-height: 38px;
}

.shop_info_wrap {
  padding-bottom: 20px;
}

.shop_title_wrap {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-info {
  width: auto;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.shop-info_img {
  width: 30%;
  height: 300px;
}

.info-img-box {
  max-height: 300px;
  position: relative;
  box-shadow: 0 7px 10px -3px rgba(132, 155, 156, 0.8);
}

.shop-img {
  display: none;
}

.shop-img>img {
  width: 100%;
  height: 300px;
}

.prev {
  left: 0px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.shop-info-content-wrap {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  margin: 0 auto;
}

.shop-info-content {
  margin: auto 0;
  display: flex;
}

.shop-title-sub-box {
  margin-top: 0;
}

.shop-title-sub {
  position: relative;
  width: 100%;
}

.shop-title-sub>h1 {
  color: rgb(73 182 178);
  font-size: 35px;
  vertical-align: top;
  display: inline-block;
}

.icon-box {
  width: 20%;
  height: auto;
}

.txt-box {
  width: 80%;
  font-size: 16px;
  margin: auto 0;
  font-weight: bold;
}

.heart-btn {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url('/img/icon/icon-heart-empty-red.png');
  display: inline-block;
  overflow: hidden;
  text-indent: -20000px;
  position: absolute;
  top: -2px;
  right: 0;
  margin-right: 50px;
}

.link-btn {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-image: url('/img/icon/icon-link.png');
  display: inline-block;
  overflow: hidden;
  text-indent: -20000px;
  position: absolute;
  top: -2px;
  right: 0;
}

.shop-hashtag-icon-box {
  margin: auto 0;
}

.location-icon {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url('https://img.icons8.com/color/344/info--v1.png');
  display: block;
  overflow: hidden;
  text-indent: -20000px;
}

.call-icon {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url('https://img.icons8.com/color/344/new-post.png');
  display: block;
  overflow: hidden;
  text-indent: -20000px;
}

.addressCopy {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.hashtag-icon {
  width: 35px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-indent: -20000px;
}

.pdfBtn,
.githubBtn {
  width: 220px;
  height: 35px;
  margin: 0 10px;
  text-align: center;
  border: 3px solid #a3c8bb;
  border-radius: 30px;
}

.pdfBtn-text,
.githubBtn-text {
  line-height: 35px;
  color: #000;
  font-size: 12px;
}

.info-btn {
  width: 15px;
  height: 12px;
  background-size: cover;
  background-image: url('/img/icon/icon-triangle-white.png');
  display: block;
  overflow: hidden;
  text-indent: -20000px;
}

.map-box {
  width: 30%;
  height: 300px;
}

.shop-contents_all {
  margin: 5px auto 0;
}

.content-info_wrap {
  margin-top: 10px;
  background-color: #a3c8bb;
}

.content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.content-info_title {
  color: #fff;
}

menu-item-box {
  width: 100%;
  margin: 0 auto;
}

.item {
  width: 100%;
  margin: 0 auto;
}

.item:after {
  content: '';
  display: block;
  clear: both;
}

.item-list-set {
  float: left;
  width: 25%;
  position: relative;
}

.item-img {
  width: 100%;
}

.item-img>img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: fill;
}

.item-info {
  text-align: center;
  margin: 15px 0;
}

.review-wrap {
  border-top: none;
  margin-top: 5px;
}

.review-box {
  width: 100%;
  background: rgb(237 205 200);
  box-shadow: 0px 2px 14px -2px rgba(153, 162, 180, 0.8);
}

.review-text {
  color: rgba(0, 0, 0, 0.5);
}

.containerPhoto img {
  width: 80%;
  height: 80%;
}

.containerPhoto iframe {
  width: 80%;
  height: 550px;
}