@charset "utf-8";
@import url('reset.css');
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

.global-main {
  font-family: 'Jeju Gothic', sans-serif;
  margin: 0px auto;
  width: 900px;
}

.prevent {
  cursor: default;
}

.skill h2 {
  text-align: center;
  font-size: 2rem;
  /* margin-top: 5px;
  margin-bottom: 15px; */
  margin: 20px auto;
  color: #339af0;
}

/* 상세검색 내용 */
.shop-list-wrap {
  width: 100%;
  height: auto;
  display: block;
}

.shops-box {
  width: 100%;
  position: relative;
  margin-right: auto;
}

.shops-box::after {
  content: '';
  display: block;
  clear: both;
}

.shop-each {
  float: left;
  width: 260px;
  height: 240px;
  display: list-item;
  border-radius: 0 0 80px 0;
  margin: 0 20px 30px;
  box-shadow: 0px 2px 14px -2px rgba(153, 162, 180, 0.8);
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shop-container-util {
  width: 200px;
  margin: 0 auto;
}

.shop-each_img {
  height: 130px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.shop-each_img>img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: 5px;
}

.shop-each_title {
  font-size: 1.2rem;
  margin: 10px auto;
  text-align: center;
  word-break: keep-all;
}

.shop-each_hashtag {
  font-size: 0.8rem;
}

.education h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #339af0;
}

.education-block h3 {
  float: left;
  margin-top: 0;
}

.education-date {
  float: right;
  margin-top: 3px;
  color: #999;
}

.education h4 {
  clear: both;
}

.education-block {
  padding: 15px;
  border: 1px solid #dcd9d9;
  border-radius: 10px;
  text-align: left;
  margin: 0 20px 5px;
}