<div class="section" id="section2">
  <div class="slide" id="slide1">
    <div class="intro">
      <!-- content.html -->
      <div class="global-content">
        <div class="main">
          <div class="inner main-inner">
            <!-- container -->
            <!-- width : standard -->
            <div class="container">
              <!-- shop_info -->
              <div class="shop_info_wrap">
                <div class="shop-info">
                  <div class="shop-info_img">
                    <div class="info-img-box">
                      <div class="shop-img-slide-box">
                        <div class="shop-img fade" style="display: block">
                          <img src="/img/projectInfo/slide/0001.png" />
                        </div>
                      </div>
                      <div class="shop-img-slide-box">
                        <div class="shop-img fade" style="display: none">
                          <img src="/img/projectInfo/slide/0002.png" />
                        </div>
                      </div>
                      <div class="shop-img-slide-box">
                        <div class="shop-img fade" style="display: none">
                          <img src="/img/projectInfo/slide/0003.png" />
                        </div>
                      </div>
                      <div class="shop-img-slide-box">
                        <div class="shop-img fade" style="display: none">
                          <img src="/img/projectInfo/slide/0004.png" />
                        </div>
                      </div>
                      <div class="shop-img-slide-box">
                        <div class="shop-img fade" style="display: none">
                          <img src="/img/projectInfo/slide/0005.png" />
                        </div>
                      </div>
                      <a class="prev" onclick="plusSlides(-1)">❮</a>
                      <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>
                    <br />
                  </div>

                  <!-- shop-info_content-wrap -->
                  <div class="shop-info-content-wrap">
                    <div class="shop-info-content shop-title-sub-box">
                      <div class="shop-title-sub">
                        <h1 id="shopName">Cafe Surfer</h1>
                      </div>
                    </div>
                    <div class="shop-info-content shop-location-sub-box">
                      <div class="shop-location-icon-box icon-box">
                        <a href="#" class="location-icon prevent"></a>
                      </div>
                      <div class="location-txt txt-box">
                        <span id="shopAddress">커피숍 정보 검색 웹 서비스</span>
                      </div>
                    </div>
                    <div class="shop-info-content shop-hashtag-sub-box">
                      <div class="shop-hashtag-icon-box icon-box">
                        <img src="https://img.icons8.com/color/344/development-skill.png" class="hashtag-icon" />
                      </div>
                      <div class="hashtag-txt txt-box">
                        <div>
                          <span class="mainHashtag">#JAVA11</span>
                          <span class="mainHashtag">#Thymeleaf</span>
                          <span class="mainHashtag">#Oracle DB</span>
                        </div>
                        <br />
                        <div>
                          <span class="mainHashtag">#HTML5</span>
                          <span class="mainHashtag">#CSS3</span>
                          <span class="mainHashtag">#JavaScript(ES6)</span>
                        </div>
                        <br />
                        <div>
                          <span class="mainHashtag">#Spring Framework</span>
                          <span class="mainHashtag">#Spring Boot</span>
                        </div>
                      </div>
                    </div>
                    <div class="shop-info-content shop-call-sub-box">
                      <div class="shop-call-icon-box icon-box">
                        <a href="#" class="call-icon prevent"></a>
                      </div>
                      <div class="call-txt txt-box">
                        <span style="margin-right: 10px;">abc282v@naver.com</span>
                        <!-- input value에 본인 email 주소 넣기 -->
                        <input type="text" id="mailAddress" name="mailAddress" style="display: none;"
                          value="abc282v@naver.com">
                        <img src="/img/icon/icons8-copy-24.png" class="addressCopy"></img>
                      </div>
                    </div>
                    <div class="shop-info-content">
                      <div class="shop-parking-icon-box icon-box">
                        <img src="https://img.icons8.com/office/344/pdf.png" class="allday-parking-icon" />
                      </div>
                      <div class="pdfBtn">
                        <a href="https://github.com/yeongbhinkim/pj/raw/main/cafe%20surfer%20%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.pdf"
                          class="pdfBtn-text">프로젝트 개발서</a>
                      </div>
                      <div class="shop-allday-icon-box icon-box">
                        <img src="https://img.icons8.com/fluency/344/github.png" class="allday-parking-icon" />
                      </div>
                      <div class="githubBtn">
                        <a href="https://github.com/yeongbhinkim/pj/tree/main/cafesurfer" target="_blank"
                          class="githubBtn-text">Github 소스</a>
                      </div>
                    </div>
                  </div>
                  <div class="map-box">  
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/owajOrlwjEo"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <!-- End of shop_info -->

              <!-- shop-contents_all -->
              <div class="shop-contents_all">
                <div class="content-info_wrap">
                  <div class="content-info">
                    <div class="content-info_title">
                      <span>프로젝트 상세</span>
                    </div>
                  </div>
                </div>

                <div class="menu-item-box menu_beverage">
                  <ul class="item">
                    <div class="review-box">
                      <p class="review-text">포털 사이트, SNS 검색을 통해 커피숍을 찾는 사용자가 대다수입니다.<br> 
                        하지만 광고성 글과 무분별한 정보들이 많이 있어 정보를 찾기가 힘들어져서<br>
                        Spring Frame Work, Spring Boot를 활용하여 커피숍 정보 검색 웹 서비스 사이트를 만들었습니다.<br>
                        oracleDB는 Spring JDBC를 통해 연동하였습니다.<br>
                        HTML,CSS,JS,Bootstrap를 기반으로 제작되었고, AJAX와 REST API를 활용하였습니다.
                      </p>
                    </div>
                  </ul>
                </div>
                <div class="content-info_wrap">
                  <div class="content-info">
                    <div class="content-info_title">
                      <span>역할</span>
                    </div>
                  </div>
                </div>

                <div class="menu-item-box menu_beverage">
                  <ul class="item">
                    <div class="review-box">
                      <p class="review-text">
                        대부분의 컨트롤러(Java)를 만들고 대부분의 HTML(Thymeleaf)를 만들어 연동을 하고<br>검색바의 JavaScript를 만들고 커피숍 사진 업로드 후 저장된 사진을 읽어오는 것을 만들었습니다.
                      </p>
                    </div>
                  </ul>
                </div>
              </div>
              <!-- End of shop-contents_all -->
            </div>
          </div>
          <!-- End of container -->
        </div>
      </div>
      <!-- content.html -->
    </div>
  </div>

  <div class="slide" id="slide2">
    <!-- content.html -->
    <div>
      <!-- content.html -->
      <div class="global-content">
        <div class="main">
          <div class="inner main-inner">
            <!-- container -->
            <div class="containerPhoto">
              <img src="/img/slide/1.png" />
            </div>
          </div>
          <!-- End of container -->
        </div>
      </div>
      <!-- content.html -->
    </div>
    <!-- content.html -->
  </div>

  <div class="slide" id="slide3">
    <!-- content.html -->
    <div>
      <!-- content.html -->
      <div class="global-content">
        <div class="main">
          <div class="inner main-inner">
            <!-- container -->
            <div class="containerPhoto">
              <img src="/img/slide/2.png" />
            </div>
          </div>
          <!-- End of container -->
        </div>
      </div>
      <!-- content.html -->
    </div>
    <!-- content.html -->
  </div>

  <div class="slide" id="slide4">
    <!-- content.html -->
    <div>
      <!-- content.html -->
      <div class="global-content">
        <div class="main">
          <div class="inner main-inner">
            <!-- container -->
            <div class="containerPhoto">
              <img src="/img/slide/3.png" />
            </div>
          </div>
          <!-- End of container -->
        </div>
      </div>
      <!-- content.html -->
    </div>
    <!-- content.html -->
  </div>

  <div class="slide" id="slide5">
    <!-- content.html -->
    <div>
      <!-- content.html -->
      <div class="global-content">
        <div class="main">
          <div class="inner main-inner">
            <!-- container -->
            <div class="containerPhoto">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/owajOrlwjEo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <!-- End of container -->
        </div>
      </div>
      <!-- content.html -->
    </div>
    <!-- content.html -->
  </div>

</div>