<!-- home.html -->
<div class="global-home">
  <div class="hdr">
    <div class="util-box">
      <div class="logo-box animated">
        <div class="logo animated">
          <img src="/img/kim.jpg" />
        </div>
        <div class="head-title animated">I'm YeongBhin KIM</div>
      </div>
    </div>
    <div class="util-wrap">
      <div class="util-box">
        <div class="search-box-wrap">
          <div class="input_tag">
            <li class="detail-box">
              <a href="javascript:void(0)" class="detail-icon">상세</a>
            </li>
            <ul class="input_tag__tags">
              <div id="hashtags"></div>
              <li class="input_tag__tags__input">
                <select name="searchType" id="searchType" style="display: none">
                  <option value="KEYWORD">키워드</option>
                  <option value="HASHTAG">해시태그</option>
                </select>
                <input type="text" id="keyword" placeholder="　　　　　　　　　　　　　　A New Web developer
                " name="keyword" readonly />
              </li>
            </ul>
            <div class="search-box">
              <button id="searchBtn">검색</button>
            </div>
          </div>
        </div>

        <div class="location-selected-wrap">
          <div class="condition-reset-wrap"></div>
          <div class="areabox"></div>
        </div>

        <div class="menu">
          <input type="checkbox" class="detailCHK" id="collapsible" />
          <div class="menuitems">
            <div class="detailChoice">
              <div class="detailmenu">
                <div class="Area">
                  <li class="is_on">
                    <a href="#tab1" class="btn tab1 align-hashtag hashtag-coffee" id="btn tab1">자기소개</a>
                  </li>
                  <li>
                    <a href="#tab2" class="btn tab2 align-hashtag hashtag-beverage" id="btn tab2">비고</a>
                  </li>
                </div>
                <div class="scroll Areaboxs">
                  <div id="tab1" class="cont" style="z-index: 2; display: block;">
                    <div class="btn-coffee">
                      <div class="textBox"> 자기소개</div>
                    </div>
                  </div>
                  <div id="tab2" class="cont">
                    <div class="btn-beverage">
                      <div class="textBox"> 무엇을 넣을까?</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- home.html -->