<div class="section " id="section0">
  <div class="intro">
    <!-- home.html -->
    <div class="global-home">
      <div class="hdr">
        <div class="util-box">
          <div class="logo-box animated">
            <div class="logo animated">
              <img src="/img/kim.jpg" />
            </div>
            <div class="head-title animated">I'm YeongBhin KIM</div>
          </div>
        </div>
        <div class="util-wrap">
          <div class="util-box">
            <div class="search-box-wrap">
              <div class="input_tag">
                <li class="detail-box">
                  <a href="javascript:void(0)" class="detail-icon">상세</a>
                </li>
                <ul class="input_tag__tags">
                  <div id="hashtags"></div>
                  <li class="input_tag__tags__input">
                    <select name="searchType" id="searchType" style="display: none">
                      <option value="KEYWORD">키워드</option>
                      <option value="HASHTAG">해시태그</option>
                    </select>
                    <input type="text" id="keyword" placeholder="　　　　　　　　　　　　　　A New Web developer
                    " name="keyword" readonly />
                  </li>
                </ul>
                <div class="search-box">
                  <div id="searchBtn">검색</div>
                </div>
              </div>
            </div>

            <div class="location-selected-wrap">
              <div class="condition-reset-wrap"></div>
              <div class="areabox"></div>
            </div>

            <div class="menu">
              <input type="checkbox" class="detailCHK" id="collapsible" />
              <div class="menuitems">
                <div class="detailChoice">
                  <div class="detailmenu">
                    <div class="Area">
                      <li class="is_on">
                        <a href="#tab1" class="btn tab1 align-hashtag hashtag-coffee" id="btn tab1">자기소개</a>
                      </li>
                      <li>
                        <a href="#tab2" class="btn tab2 align-hashtag hashtag-beverage" id="btn tab2">#해시태그</a>
                      </li>

                    </div>

                    <div class="scroll Areaboxs">
                      <div id="tab1" class="cont" style="z-index: 2; display: block;">
                        <div class="btn-coffee">
                          <div class="textBox"> 
                            개발의 첫 페달을 밟는 신입 개발자 김영빈입니다.<br> 
                            저는 살아오면서 처음부터 혼자 해온 것이 없었습니다. <br> 
                            태어나서 걷는 것부터 말하기, 자전거 타기 등 혼자 한 것들이 하나도 없었습니다 <br> 
                            그러나 지금은 제가 조금이나마 개발의 자전거 첫 페달의 중심을 <br> 
                            잡아가는 노력을 하는 중이라고 생각합니다.<br> 
                            이제부터는 자전거의 두 번째 세 번째 그다음의 페달을 밟아 가면서 중심을 잡아가면서 처음에는 느리지만 관성이
                              붙는 순간부터는 누구보다 잘할 자신이 있습니다.
                         </div>
                        </div>
                      </div>
                      <div id="tab2" class="cont">
                        <div class="btn-beverage">
                          <div class="textBox">
                            <div style="color: #29aeec;"> #단체생활</div>
                            저는 혼자 하는 것보다 단체생활을 좋아합니다.<br>
                            혼자보다는 둘이 있는 것이 마음이 편하고 아무리 힘들어도 서로를 기대며 일을 하면 1+1이 아니라 항상 플러스알파의 힘을 내오면서 살아왔습니다.<br>
                            <div style="color: #29aeec;">#재확인</div>
                            저는 저를 믿지 못하여 확인을 자주 합니다. 그래서 시간이 더 걸리지만 확인을 안하고 넘어가게 된다면 나중에 더 많은 시간을 들어야 되는 것을 많이
                            봐왔습니다.
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- home.html -->
  </div>
</div>