<div class="global-wrap">
  <div class="main">
    <div class="inner main-inner">
      <div class="shop-list-wrap">
        <div class="shop-list-box">
          <ul class="shops-box">
            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/22/B0105/0544772e-a517-4f55-8504-409236dba57c.jfif" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/22">스타벅스 울산국가정원점</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#스타벅스</span>
                        <span class="mainHashtag">#태화강 국가정원</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#공원뷰</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/21/B0105/00e5cfe5-dd74-4d6a-971e-551d4d7b0b35.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/21">파나카S</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#울산 방어진</span>
                        <span class="mainHashtag">#슬도</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#오션뷰</span>
                        <span class="mainHashtag">#인절미 브라우니</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/20/B0105/f7be2f12-59b8-4a4c-b38b-4bbe18a566f6.jfif" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/20">유동커피 북울산점</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#제주 유동커피</span>
                        <span class="mainHashtag">#카페티블랑</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#울산 북구</span>
                        <span class="mainHashtag">#엔틱 인테리어</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/19/B0105/8b6ba137-cffa-48e1-96f4-6678f65041b5.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/19">카페 숲</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#울산 주전 카페</span>
                        <span class="mainHashtag">#오션뷰</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#몽돌해수욕장</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/18/B0105/0cda87df-c706-4482-bf4d-b69ae4db9a19.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/18">카페 솔츠</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#반려동물 동반</span>
                        <span class="mainHashtag">#울산 공업탑</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#소금이</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/17/B0105/d147f834-dbf9-4046-8d6c-48493ba838b3.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/17">담소</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#전통차</span>
                        <span class="mainHashtag">#한옥 카페</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#넓은 정원</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/16/B0105/56d0c8e9-9d4f-4de2-bd78-b528ce4f3d37.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/16">이디야커피 울산주전해수욕장점</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#이디야 커피</span>
                        <span class="mainHashtag">#주전몽돌해수욕장</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#오션뷰</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="shop-each">
              <div class="shop-container">
                <div class="shop-container-util shop-each_img shop-img-rd">
                  <img src="/attach/15/B0105/e0eb8660-564f-41e4-b073-7ca5bceadf9a.jpg" />
                </div>
                <div class="shop-container-util shop-each_title">
                  <span><a href="/coffeeShop/detail/15">이디야커피 방어점</a></span>
                </div>
                <div class="shop-container-util shop-each_hashtag">
                  <ul>
                    <li class="shop-hashtag-rep rep1">
                      <div>
                        <span class="mainHashtag">#이디야 커피</span>
                        <span class="mainHashtag">#방어진항</span>
                      </div>
                    </li>
                    <br />
                    <li class="shop-hashtag-rep rep2">
                      <div>
                        <span class="mainHashtag">#슬도</span>
                        <span class="mainHashtag"></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

           
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
