<div class="section" id="section1">
  <div class="intro">
    <!-- main.html -->
    <div class="global-main">
      <div class="main">
        <div class="inner main-inner">

          <section id="skill" class="skill">
            <h2>Skill</h2>
            <div class="shop-list-wrap">
              <div class="shop-list-box">
                <ul class="shops-box">
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="https://img.icons8.com/color/344/java-coffee-cup-logo--v1.png" />
                        <img src="https://img.icons8.com/color/344/oracle-logo.png" />
                        <img src="https://img.icons8.com/color/344/thymeleaf.png" style="margin-right: 0;" />
                        <img src="https://img.icons8.com/color/344/api-settings.png" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">백엔드</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#Java11</span>
                              <span class="mainHashtag">#Oracle DB</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag">#Thymeleaf</span>
                              <span class="mainHashtag">#REST API</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="https://img.icons8.com/color/344/html-5--v2.png" />
                        <img src="https://img.icons8.com/color/344/css3.png" />
                        <img src="https://img.icons8.com/color/344/javascript--v1.png" style="margin-right: 0;" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">프론트엔드</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#HTML5</span>
                              <span class="mainHashtag">#CSS3</span>
                              <span class="mainHashtag">#JavaScript(ES6)</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag">#AJAX</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="https://img.icons8.com/color/344/spring-logo.png" />
                        <img src="https://img.icons8.com/color/344/intellij-idea.png" />
                        <img src="https://img.icons8.com/color/344/visual-studio-code-2019.png"
                          style="margin-right: 0;" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">IDE / Tool</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#SpringToolSuite</span>
                              <span class="mainHashtag">#InteliJ</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag">#Visual Studio Code</span>
                              <span class="mainHashtag"></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="http://blog.ippon.fr/content/images/2017/05/junit5-logo.png"
                          style="width: 55px; height: 55px;" />
                        <img src="https://img.icons8.com/dusk/344/postman-api.png" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">테스트</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#Junit5</span>
                              <span class="mainHashtag">#Postman</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag"></span>
                              <span class="mainHashtag"></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="https://img.icons8.com/color/344/git.png" />
                        <img src="https://img.icons8.com/fluency/344/github.png" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">형상관리</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#Git</span>
                              <span class="mainHashtag">#Github</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag"></span>
                              <span class="mainHashtag"></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="shop-each">
                    <div class="shop-container">
                      <div class="shop-container-util shop-each_img shop-img-rd">
                        <img src="https://img.icons8.com/color/344/bootstrap.png" />
                        <img src="https://seeklogo.com/images/F/font-awesome-logo-3010FE2434-seeklogo.com.png"
                          style="width: 47px; height: 47px; padding-bottom: 7px;" />
                      </div>
                      <div class="shop-container-util shop-each_title">
                        <span><a href="javascript:void(0)" class="prevent">기타 프레임워크 및 라이브러리</a></span>
                      </div>
                      <div class="shop-container-util shop-each_hashtag">
                        <ul>
                          <li class="shop-hashtag-rep rep1">
                            <div>
                              <span class="mainHashtag">#BootStrap</span>
                              <span class="mainHashtag">#Font Awesome</span>
                            </div>
                          </li>
                          <br />
                          <li class="shop-hashtag-rep rep2">
                            <div>
                              <span class="mainHashtag"></span>
                              <span class="mainHashtag"></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section id="education" class="education">
            <h2>Education</h2>
            <div class="education-block">
              <h3>울산 KH정보교육원</h3>
              <span class="education-date">April 2021 - October 2021</span>
              <h4>(스마트웹&amp;콘텐츠개발)프로젝트 중심의 자바(JAVA)&안드로이드 개발자 과정</h4>
              <div>웹프로그래밍에 필요한 전반적인 프로그래밍의 기초를 배움 (java11,SQL,HTML,CSS,JavaScript(ES6) 등)</div>
            </div>
          </section>

        </div>
      </div>
    </div>
    <!-- main.html -->
  </div>
</div>