<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body>


  <div id="fullpage">

    <div class="section " id="section0">
      <div class="intro">
        {% include home.html %}
      </div>
    </div>

    <div class="section" id="section1">
      <div class="intro">
        {% include main.html %}
      </div>
    </div>

    <div class="section" id="section2">
      <div class="intro">
        {% include content.html %}
      </div>
    </div>

  </div>

  {% include scripts.html %}


</body>

</html>